<h1 class="center mat-display-1">Enter the value and choose your currency</h1>
<div class="center">
  <form [formGroup]="newForm" (ngSubmit)="convert()">
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="from">Select From:</label>
          <select 
          class="form-control" 
          id="from" 
          formControlName="from" 
          placeholder="Select from">
          <option value="{{symbol.code}}" *ngFor="let symbol of symbols">
          {{symbol.text}} ({{symbol.code}})
        </option>        
        </select>
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label for="to">Select To:</label>
          <select 
          class="form-control" 
          id="to" 
          formControlName="to" 
          placeholder="Select to">
          <option value="{{symbol.code}}" *ngFor="let symbol of symbols">
          {{symbol.text}} ({{symbol.code}})
        </option>        
        </select>
        </div>
      </div>
      
      <div class="column">
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input class="form-control" type="number" formControlName="amount" placeholder="Amount">
        </div>
      </div>
      <div class="column">
        <button type="submit" [disabled]="!newForm.valid">Convert</button>
      </div>
    </div>
  </form>

  <app-table></app-table>

  <h5>{{message}}</h5>

  <!-- <input type="text" value={{currentVal}}>
  <select>
    <option *ngFor="let key of rateKeys" value="{{key}}">{{key}}</option>
  </select>
  <div class="row">
    <div class="column">
      <h2>Currency</h2>
      <p *ngFor="let key of rateKeys">{{key}}</p>
    </div>
    <div class="column">
      <h2>Value</h2>
      <p *ngFor="value of convertedVal">{{value}}</p>
    </div>
  </div> -->
</div>